<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            https://www.springframework.org/schema/beans/spring-beans.xsd">
<!--  用来处理@PostConstruct和@PreDestroy注解  -->
    <bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor" />
    <bean id="helloService" class="com.zjc.services.HelloService" >
        <constructor-arg ref="beanTwo" />
        <property name="beanOne" ref="beanOne"/>
    </bean>
    <bean id="beanOne" class="com.zjc.beans.BeanOne"></bean>
    <bean id="beanTwo" class="com.zjc.beans.BeanTwo"></bean>
    <alias name="helloService" alias="firstService"/>
    <alias name="helloService" alias="demoService"/>

    <bean id="coolService" class="com.zjc.services.CoolService" >
        <constructor-arg name="a" value="1"/>
        <constructor-arg name="b" value="2"/>
        <constructor-arg name="v" value="3"/>
    </bean>

    <bean id="autowiredService" class="com.zjc.services.AutowiredService" autowire="byName"/>

    <bean id="lifeService" class="com.zjc.services.LifeService" />
</beans>